{% extends '::backend.html.twig' %}

{% block id 'traslado' %}
{% block title %}Añadir un nuevo traslado{% endblock %}

{% block content %}
{{ form_errors(form) }}
<form action="{{ path('backend_traslado_create') }}" method="post" {{ form_enctype(form) }}>
    <div class="input_wrapper">
    {{ form_label(form.nombre, 'Traslado') }}
    {{ form_widget(form.nombre, { 
      'attr' : {
        'class' : 'big'
      }}) }}
    {{ form_row(form.precio) }}
    </div>
    <p>
        <button class="button_primary button continue" type="submit">Añadir traslado</button>
    </p>
    {{ form_rest(form) }}
</form>
{% endblock %}
{% block button_area %}
<a href="{{ path('backend_traslado') }}" class="button"><div class="icon back"></div>Volver al listado</a>
{% endblock %}
