{% extends '::backend.html.twig' %}

{% block id 'hotelempresa' %}
{% block title %}Añadir una nueva empresa de hotel{% endblock %}

{% block content %}
{{ form_errors(form) }}
<form action="{{ path('backend_hotelempresa_create') }}" method="post" {{ form_enctype(form) }}>
    <div class="input_wrapper">
    {{ form_row(form.nombre) }}
    {{ form_row(form.categoria) }}
    {{ form_row(form.ciudad) }}
    </div>
    <p>
        <button class="button_primary button continue" type="submit">Añadir empresa</button>
    </p>
    {{ form_rest(form) }}
</form>
{% endblock %}
{% block button_area %}
<a href="{{ path('backend_hotelempresa') }}" class="button"><div class="icon back"></div>Volver al listado</a>
{% endblock %}
