{% extends '::backend.html.twig' %}

{% block id 'acomodacion' %}
{% block title %}A침adir una nueva acomodaci칩n{% endblock %}

{% block content %}
{{ form_errors(form) }}
<form action="{{ path('backend_acomodacion_create') }}" method="post" {{ form_enctype(form) }}>
    <div class="input_wrapper">
    {{ form_row(form.nombre) }}
    </div>
    <p>
        <button class="button_primary button continue" type="submit">A침adir acomodaci칩n</button>
    </p>
    {{ form_rest(form) }}
</form>
{% endblock %}
{% block button_area %}
<a href="{{ path('backend_acomodacion') }}" class="button"><div class="icon back"></div>Volver al listado</a>
{% endblock %}
