{% extends '::backend.html.twig' %}

{% block id 'acomodacion' %}
{% block title %}Datos de la acomodaci칩n {{ entity }}{% endblock %}

{% block content %}

<div class="input_wrapper">
  Nombre: <strong>{{ entity.nombre }}</strong>
</div>

{% endblock %}
{% block button_area %}
<a href="{{ path('backend_acomodacion_edit', { 'id': entity.id }) }}" class="button"><div class="icon"></div>Modificar Acomodaci칩n</a>
<a href="{{ path('backend_acomodacion') }}" class="button"><div class="icon back"></div>Volver al listado</a>
<a class="button_primary button continue" href="{{ path('backend_acomodacion_new') }}">
  A침adir una nueva acomodaci칩n
</a>
{% endblock %}