{% extends '::backend.html.twig' %}

{% block id 'hoteldisponibilidad' %}
{% block title %}Disponibilidad{% endblock %}

{% block javascripts %}
{{parent()}} 
<script src="{{ asset('bundles/backend/js/jquery.jeditable.mini.js') }}" type="text/javascript"></script>
<script type="text/javascript">
  // Editable.
  $('.editable').editable(
    '{{ path('backend_hoteldisponibilidad_update') }}',
    {
      'indicator': 'Guardando',
      'tooltip': 'Click para editar...',
    }
  );
    
  // Cambiar fecha.
  $('#cambio-fecha').click(function () {
    id = {{ entity.id }};
    month = $('#month').val();
    year = $('#year').val();
    location.href = '{{ path('backend_hoteldisponibilidad') }}' + id + '/' + month + '/' + year + '/calendar';
  });
</script>
{% endblock %}

{% block content %}

<h3>Datos de la habitación</h3>
<div class="input_wrapper">
  Hotel: <strong>{{ entity.hotel }}</strong>
</div>
<div class="input_wrapper">
  Acomodación: <strong>{{ entity.acomodacion }}</strong>
</div>
<div class="input_wrapper">
  Precio: <strong>{{ entity.precio}}</strong>
</div>

<h3>Calendario de {{ month_name }} - {{ year }}</h3>
<div class="input_wrapper inline">
  <select id="month">
    {% for i in 1..12 %}
      <option value="{{ i }}" {% if i == month %}selected="selected"{% endif %}>{{ i }}</option>
    {% endfor %}
  </select>
  <select id="year">
    {% for j in 2013..2014 %}
      <option value="{{ j }}">{{ j }}</option>
    {% endfor %}
  </select>
  <a href="#" class="button" id="cambio-fecha">Cambiar mes</a>
</div>
{{ calendar | raw }}
{% endblock %}
{% block button_area %}
<a href="{{ path('backend_hoteldisponibilidad') }}" class="button"><div class="icon back"></div>Volver al listado</a>
{% endblock %}